body {
  header {
    nav {
      div {
        background: #e38f2a;
        form{
          input{
            width: 20rem !important; 
          }
        }
        img {
          width: 4rem;
        }
      }
    }
  }
  main {
    #movie_section {
      .card {
        width: 12rem;
        border: 0;
        padding: 0;
        img{
          height: 16rem;
        }
        #heart {
          font-size: 2rem;
        }
        .card-body {
          padding: 0;
          .card-text {
            margin: 0;
          }
          .card-text1 {
            float: right;
            margin: 0;
          }
        }
      }
    }
  }
}
